@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

@theme {
    --font-sans: "Manrope", sans-serif;
    --color-bg: #EDEDED;
    --color-primary: #8FBF94;
    --color-primary-red: #FFAEAE;
    --color-primary-yellow: #FFE3BD;
    --color-primary-blue: #B4C9FF;
    --color-warning: #FF6E6E;

    --color-btn-primary: #8FBF94;
    --color-btn-secondary: #D4D4D4;
    --color-btn-warning: #FF6E6E;
}

@layer base {
    html {
        background-color: var(--color-bg);
    }
    h1 { font-size: x-large }
}